
.profile_pic{
    height: 20%;
}
.title-s{
    font-weight: bold;
}
.success{
    color:chartreuse;
}
.lead{
    text-align: justify;
}
.connect{
    font-weight: 500 ;
    font-size: 3rem;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

@media (max-width: 768px) {
    .connect{
        font-size: 1.5rem;
    }
    .skill-mf{
        padding-top: 3rem;
    }
    .col-lg-6{
        padding-top: 3rem;
    }
}
.card-1{
        background-image: url("./assets/control\ of\ power\ supply.jpg");
    }
.card-2{
    background-image: url("./assets/accsaver.PNG");
}
.card-3{
    background-image: url("./assets/tindog.jpg");
}
.card-4{
    background-image: url("./assets/moveit.PNG");
}
